{% extends "layout.html" %}

{% block head %}
<link href="/templates/style.css" rel="stylesheet">


{% endblock %}

{% block title %}
    OCTAVOS
{% endblock %}

{% block main %}
    <div class="section">
        <h1>Fixture</h1>
        <h2></h2>
    </div>
    <form action="/octavos" method="POST">
                <h4 class="my-4">OCTAVOS DE FINAL</h4>
                <table style="width: 50%" class="table table-striped table-sm m-auto">
                    <thead>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for match in octavos %}
                        <tr>
                            <td>{{ match['home_team']['name'] }}</td>
                            <td><input autocomplete="off" class="pruebaInput" name="octavosHome{{ loop.index0 }}"></td>
                            <td>{{ match['away_team']['name'] }}</td>
                            <td><input autocomplete="off" class="pruebaInput" name="octavosAway{{ loop.index0 }}"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        <button class="btn btn-warning my-3" style="width:20%" type="submit">Apostar</button>
        </form>

{% endblock %}